body{
    margin: auto;
}
nav ul{
    text-decoration: none;
    list-style: none;
    padding: none;
    display: flex
}
nav ul li{
    text-decoration: none;
    padding: 14px;
    flex: content;
}
.header {
    display: flex;
}
.header h1{
    flex: 2;
}
.header h1 a{
    color: black;
    text-decoration: none;
}
.header nav {
    flex: 1;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
footer{
    text-align: center;
}
main{
    max-width: 1200px;
    margin: auto;
}
div{
    margin-left: 800px;
}
article{
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(185, 185, 185);
    width: 300px;
    height: 100px;
    border-radius: 20px;
}
article h3{
    color: white;
}