body{
    margin: 50px;
    max-width: 1200px;
    color: black;
    list-style-type: none;
}
header{
    text-align: center;
}
main{
    display: flex;
    margin: auto;
}
main div{
    flex: 1;
    margin: 15px;
}
main div h2{
    text-align: left;
}
.right{
    text-align: right;
}
main div ul{
    padding-left: 0px;
}
main div ul li{
    display: block;
    background-color: green;
    width: 300px;
    height: 40px;
    padding: 15px;
    margin-bottom: 10px;
}
main div ul li a{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
footer h3{
    text-align: center;
}
footer div #email{
    display: flex;
    margin: 60px;
}
footer div #email p{
    flex: 1;
    flex-direction: row;
    text-align: center;
    display: block;
    background-color: green;
}
footer div #email p a{
    text-decoration: none;
    color: black;
}