body{
    color: rgb(231, 181, 0);
    -webkit-text-stroke: 1px black;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    letter-spacing: 0.075em;
}
header{
    display: flex;
    height: 200px; 
    /* fix image size to fit 150px */
    background-image: url(images/bus\ windows.png);
    background-size: cover;
    position: relative;
}
header h1{
    flex: 1;
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 70px;
    display: block;
    background-color: rgb(245, 230, 177);
    opacity: 75%;
    padding: 10px;
    border: solid 1px rgb(234, 204, 98);
    font-family: "Ojuju", sans-serif;
    font-weight: 700;
    font-size: 36px;
}
header button{
    flex: 1;
    width: 85px;
    height: 35px;
    position: absolute;
    top: 65px;
    right: 70px;
    /* color: rgb(234, 204, 98);
    /* -webkit-text-stroke: 1px black; */ 
    /*  */
}
#gameControl{
    text-align: center;
    color: rgb(234, 204, 98);
    -webkit-text-stroke: 1px black;
}
#gameControl button{
    margin: 20px;
    width: 90px;
    height: 40px;
}
button{
    background-color: rgb(245, 230, 177);
    border: solid 1px rgb(234, 204, 98);
    color: rgb(234, 204, 98);
    -webkit-text-stroke: 1px black;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 18px;
}
button:hover{
    box-shadow: 2px 2px 10px 0px rgba(143,121,10,1);
}
#score{
    display: block;
    background-color: rgb(245, 230, 177);
    border: dashed black 1px;
    margin: 20px;
}
@media only screen and (min-width: 800px){
    body{
        max-width: 1200px;
    }
}