body{
    margin: auto;
    margin-left: 300px;
    margin-right: 300px;
    max-width: 1200px;
    height: 100vh;
    background-image: url(../images/space.jpeg); 
    animation: scrollBackground 15s linear infinite;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: white;
}
h1{
    font-family: 'Press Start 2P', system-ui;
    font-weight: 400;
    margin-top: 60px;
    text-align: center;
}
main h2{
    font-family: 'Press Start 2P', system-ui;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 100% 0;
        }
    }
header{
    text-align: center;
    height: 100px;
}
div{
    display: flex;
}
div button{
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px;
    color: white;
    background-color: black;
    opacity: 20%;
    border: 1px solid rgb(92, 112, 240);
    border-radius: 10px;
}
article{
    border: 2px solid rgb(92, 112, 240);
    border-radius: 20px;
}
article h3{
 margin: 8px;
 /* padding: 10px; */
}
article p{
 margin: 8px;
 /* padding: 10px; */
}
footer{
    text-align: center;
    height: 100px;
}
footer section p{
    text-decoration: none;
}
footer p a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
footer p a:hover{
    color: rgb(92, 112, 240);
    font-size: 24px;
}